.display-all-products{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 10px;
   justify-content: center;
   align-items: center;
   margin-top: 100px;
  
}

.products-container{
    width: 90%;
    margin:0 auto;
}

/* .card-container Link{
 text-decoration: none;
} */

.category-container li{
    list-style-type: none;
    padding-top: 15px;
    color: #003F62;
}

.product-category{
    margin-top: 100px;

}