.header-section {
  height: 394px;
}
.carousel-inner{
  position: relative;
  left: 190px;
  top: -40px;
}

.carousel-img img {
  width: 331px;
  margin: 0 auto;
  height: 356px;
}
.product-slider{
  margin-top: 100px;

}
.shop-button{
  background-color: #EDA415;
  padding: 10px 15px;
  margin-right: 15px;
}
.view-button{
  border: 1px solid #EDA415
  ;
  /* background-color: #EDA415; */
  padding: 10px 15px;
}
.carousel-item h1{
  color: #1B5A7D;
  font-size: 43px;
  font-weight: 700;

}

