.header-section {
  height: 394px;
}
.carousel-inner {
  position: relative;
  left: 190px;
  top: -40px;
}

.carousel-img img {
  width: 331px;
  margin: 0 auto;
  height: 356px;
}
.product-slider {
  margin-top: 100px;
}
.shop-button {
  background-color: #eda415;
  padding: 10px 15px;
  margin-right: 15px;
}
.view-button {
  border: 1px solid #eda415;
  /* background-color: #EDA415; */
  padding: 10px 15px;
}
.carousel-item h1 {
  color: #1b5a7d;
  font-size: 43px;
  font-weight: 700;
  line-height: 64px;
}

/* product slider section */

/* .product-slider-section{
  width: 1222px;
  margin: 0 auto;
  height: 147px;
} */

.product-slider {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin-top: 150px;
  margin-bottom: 100px;
}
.popular-products-title {
  color: #1b5a7d;
  font-weight: 700;
  font-size: 27px;
  margin-top: 100px;
  /* position: relative;
  left: 240px; */
}

.popular-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}
/* .discount-section{
  background: url(https://i.ibb.co/581jR6z/pexels-nao-triponez-129208-1-1.png);
  height: 417px;
  background-repeat: no-repeat;
 
} */

.discount-section {
  position: relative;
  left: 310px;
}

.discount-info {
  position: relative;
  bottom: 250px;
  left: 850px;
}

.discount-info h3 {
  color: #1b5a7d;
  font-size: 32px;
  font-weight: 600px;
}
.discount-info p small {
  color: white;
}

/* other section style */

.card-title {
  font-size: 21px;
  color: #1b5a7d;
  font-weight: 600;
  line-height: 32px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* poster section */

.poster-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 100px;
}

.poster-card-bg {
  background-color: #e2f4ff;
  border: 1px solid #e2f4ff;
}

/* review section */

.review-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* margin-top: 150px; */
}
.review-container .card {
  border: 1px solid #e2f4ff;
}
.review-title {
  color: #1b5a7d;
  font-weight: 700;
  font-size: 27px;
  margin-top: 120px;
}

.review {
  border: 1px solid #e2f4ff;
  width: 320px;
  font-size: 14px;
  /* text-align: left; */
  /* text-align: center; */
  background-color: #e2f4ff;
  border-radius: 15px;
  font-weight: 400;
}

/* brand section style  */
.brand-section {
  margin-top: 100px;
}
.brand-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
  margin-right: 35px;
  border: 1px solid #e2f4ff;
  border-radius: 7px;
  background-color: #e2f4ff;
}

/* latest news section style */

.latest-news {
  width: 1260px;
  /* margin: 0 auto; */
}
.latest-news-title {
  font-size: 27px;
  color: #1b5a7d;
  font-weight: 700;
  margin-top: 100px;
}

@media screen and (max-width: 576px) {
  .card {
    width: 360px;
    /* margin: 0 auto; */
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .discount-section {
    position: relative;
    left: 0px;
  }

  .discount-info {
    position: relative;
    bottom: 250px;
    left: 50px;
  }
  .discount-bg-img {
    width: 0%;
    margin: 0 auto;
  }
  .carousel-inner {
    position: relative;
    left: -12px;
    top: -40px;
  }
  .product-slider {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
    margin-top: 450px;
    margin-bottom: 100px;
  }

  .popular-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* gap: 5px; */
  }

  .brand-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 35px;
    border: 1px solid #e2f4ff;
    border-radius: 7px;
    background-color: #e2f4ff;
  }
  .brand-container img {
    margin-top: 21px;
  }

  .review-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* margin-top: 150px; */
  }

  .poster-card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .carousel-img img {
    margin-top: 25px;
  }
  .display-card {
    position: relative;
    top: -90px;
    left: 15px;
    /* border: 1px solid gray; */
  }
  .display-img {
    position: relative;
    left: 50px;
    width: 250px;

    /* border: 1px solid gray; */
  }
}

@media only screen and (max-width: 992px) and (min-width: 577px) {
  .review-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    /* margin-top: 150px; */
  }
  .carousel-img img {
    margin-top: 30px;
    position: relative;
    left: 18%;
  }
  .carousel-inner {
    position: relative;
    left: 80px;
    top: -40px;
  }
  .product-slider {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
    margin-top: 450px;
    margin-bottom: 100px;
  }

  .display-card {
    position: relative;
    /* top: -90px; */
    left: 15px;
    /* border: 1px solid gray; */
  }
  .display-img {
    position: relative;
    /* left: 50px; */
    width: 400px;

    /* border: 1px solid gray; */
  }

  .brand-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    /* padding-top: 17px; */
    margin-right: 35px;
    border: 1px solid #e2f4ff;
    border-radius: 7px;
    background-color: #e2f4ff;
  }
  .brand-container img {
    margin-top: 21px;
  }

  .poster-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-top: 100px;
  }

  .popular-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 5px; */
  }
}
