.header-frame-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
  padding: 15px 60px;
}

.header-frame-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.header-frame-1 small {
  color: #292d32;
  text-decoration: none;
}

.navbar{
  background-color: #003F62;
}
.container-fluid{
  margin-left: 50px;
  margin-right: 50px;
  padding: 15px 15px;

}

.form-control{
  width: 438px;
  height: 42px;
}
.nav-link{
  color: white;
  /* margin-right: 30px; */
}
.dropdown-menu{
  margin-left: 60px;
}

.userImg{
  width: 52px;
  height: 52px;
  border-radius: 50%;
  margin-right: 80px;
}

@media screen and (max-width:576px) {
  
.header-frame-1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: space-evenly;
  align-items: center;
  gap: 12px;
}

.header-frame-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
  gap: 20px;
  /* padding: 15px 60px; */
}
}

